show

<div>
  <%= @book.get_image %>
  <p>user <%= image_tag 'no_image2' %></p>
  <p>title <%= @book.title %></p>
  <p>opinion <%= @book.body %></p>
  <% if @book.user == current_user %>
    <%= link_to "削除", book_path(@book), method: :delete %>
  <% end %>
</div>